@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{}



.app-container{

    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    margin-bottom: 3.8rem;
}

@media only screen and (max-width:800px){
    .app-container{
        margin-top: 2.5rem;
        display: grid;
        grid-template-columns:1fr;
        place-items: center;
    }

}


