
main{
    height: 85vh;
}

main div{

}

@media only screen and (max-width:800px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
    
}