.setting-container{
    font-family: 'Raleway', sans-serif;
    display: none;
    animation-duration: 0.8s;
    animation-name: animate-open;
}

.setting-container i{
    cursor: pointer;
}

.setting-nav{
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: #92B4EC;
    color: white;
}


.setting {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;    
    box-shadow: 1px 1px #eee;
}

.setting div{
    margin: 2.5rem;
}

.setting h4{
    text-align: center;
    margin-top:0.5rem;
    font-weight: normal;
    border: 1.5px solid #eee;
    padding: 0.5rem ;
    border-radius: 5px;
    cursor: pointer;
}

.theme-1 img {
    border-radius: 0.5rem;
    width: 15rem;
}

.theme-2 img {
    border-radius: 0.5rem;
    width: 15rem;
}

.theme-3 img {
    border-radius: 0.5rem;
    width: 15rem;
}

.theme-4 img {
    border-radius: 0.5rem;
    width: 15rem;
}

@keyframes animate-open {
    from {
      width: 0;
    }
  
    to {
        width: 100%;
    }
  }


  @media only screen and (max-width:800px) {


    .theme-1 img {
        border-radius: 0.5rem;
        width: 10rem;
    }

    .theme-2 img {
        border-radius: 0.5rem;
        width: 10rem;
    }
    
    .theme-3 img {
        border-radius: 0.5rem;
        width: 10rem;
    }

    .theme-4 img {
        border-radius: 0.5rem;
        width: 10rem;
    }

    .setting div{
        margin: 2.5rem;
    }

    .setting div{
        margin: 1.5rem;
    }
    

    .setting {
        overflow: auto;
        justify-content:initial;
        scroll-behavior: smooth;
    }
    

    
.setting-nav{

    padding: 1rem;

}


  } 